page-home {
  #map {
    height: 100%;
  }
    .customMarker {
      content: url("./assets/imgs/marker.png");
      width: 10%;
  }

  .cross-line{
    width: 100%;
    height: 100%;
    border-bottom: 3px solid #000;
    -webkit-transform: translateY(-15px) translateX(10px) rotate(30deg);
    position: absolute;
    opacity: 0.5;
  }
  }