toast-controller {

    .mainClr{
        color: #195d84 !important;
    }
    .redClr{
        color: red !important;
    }
    .greenClr{
        color: green !important;
    }
    .orgClr{
        color: orange !important;
    }
    .yelClr{
      color: yellowgreen !important;
    }
    .mainLightClr{
        color: #3da1db !important;
    }
}
