<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content>

    <ion-grid>
      <ion-card>
          <form [formGroup]="userForgot">
        <ion-list>
          <ion-item style="text-align: center;">
            <img class="logo" src="./assets/imgs/f_pathnew512.png" />
          </ion-item>
  
            <ion-item>
              <ion-label floating>OTP Number</ion-label>
              <ion-input type="tel" formControlName="otp"></ion-input>
            </ion-item>
            <p class="restriction" *ngIf="!userForgot.controls.otp.valid && (userForgot.controls.otp.dirty || submitAtttempt)">
              <span>* </span>OTP number should be 6 Digits</p>
  
            <ion-item>
              <ion-label floating>New Password</ion-label>
              <ion-input type="password" formControlName="newPassword"></ion-input>
            </ion-item>
            <p class="restriction" *ngIf="!userForgot.controls.newPassword.valid && (userForgot.controls.newPassword.dirty || submitAtttempt)">
              <span>* </span>Password Must be 8 Char Minimum</p>
  
        </ion-list>
  
        <button class="login-btn" [disabled]="!userForgot.valid" ion-button block (click)="forgotPasswordBTN()">Forgot Password</button>
        <button ion-button class="signin" clear (click)="signInPage()">Remembered Credentials?</button>
        </form>
      </ion-card>
    </ion-grid>
  
  </ion-content>